.header {
    background-color: $white;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 2;

    @include phone{
        position: relative;
    }

    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        @include phone{
height: 80px;        }

    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__logo-img {
        width: 180px;
        height: 150px;

        @include phone{
            height: 100px;
            width: 130px;
        }
    }
}