@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



// FONT_FAMILY

$openSans: 'Open Sans', sans-serif;
$poppins:'Poppins', sans-serif;
$montserrat:'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$lato:'Lato', sans-serif;


// COLORS

$white:#ffff;
$black:black;
$grey:#71797E;
$light-grey:#ececec;
$dark-grey:#636363;
$black-brown:#1a1718;

$blue-green:#0ae6cf;